# Firebase configuration (Sensitive API keys)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Android build and local environment files
android/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/.cxx/

# Security: Keystores and sensitive properties
# NEVER share these publicly!
android/key.properties
**/*.keystore
**/*.jks

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/